@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'),
       url('../fonts/merriweather-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/merriweather-v13-latin-regular.woff') format('woff');
}
body {
  font-family: 'merriweather', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Open Sans', sans-serif;
}
code {
  font-family: 'Ubuntu Mono', 'Menlo', monospace;
  font-size: 1rem;
}
.caption {
  font-family: 'Ubuntu Mono', 'Menlo', monospace;
  font-size: 1rem;
  text-align: 'right';
}
